body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1
{
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: 'Press Start 2P', cursive;
    text-shadow: rgb(175, 106, 106) 2px 2px;
}
span::before
{
    content: '';
    animation: word-swith 3s infinite;
}

@keyframes word-swith 
{
    0% {content: '💻'}

    35%{content: '🍕';}

    65%{content: '😂';}

    100%{content: '🎮';}
    
}